<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.group2.dingmall.dao.BookMapper">


    <select id="searchBookPage" resultType="com.group2.dingmall.controller.mall.vo.BookInfoVO">
        select *
        from book
        <where>
            <if test="bookSearchParam.keyword!=null and bookSearchParam.keyword!=''">
                and (book_name like CONCAT('%',#{bookSearchParam.keyword},'%') or brief_introduction like CONCAT('%',#{bookSearchParam.keyword},'%') or author like CONCAT('%',#{bookSearchParam.keyword},'%'))
            </if>
            <if test="bookSearchParam.label!=null and bookSearchParam.label!=''">
                and (label like CONCAT('%',#{bookSearchParam.label},'%'))
            </if>
            <if test="bookSearchParam.author!=null and bookSearchParam.author!=''">
                and author like CONCAT('%',#{bookSearchParam.author},'%')
            </if>
        </where>
        <if test="bookSearchParam.orderBy!=null and bookSearchParam.orderBy!=''">
            <choose>
                <when test="bookSearchParam.orderBy == 'time'">
                    /* 最新 */
                    mallOrder by year_of_publication desc
                </when>
                <when test="bookSearchParam.orderBy == 'price'">
                    /* 最便宜 */
                    mallOrder by current_price asc
                </when>
                <otherwise>
                    mallOrder by score asc
                </otherwise>
            </choose>
        </if>
    </select>
    <!-- 获取书本类别列表 -->



    <!-- 获取某一类的所有书籍 -->
    <select id="getBookPageByType" resultType="com.group2.dingmall.controller.mall.vo.BookInfoVO">
        select * from book
        where
              label like CONCAT('%',#{bookType},'%')
          and book_status = 1
    </select>

    <!-- Top60书 -->
    <select id="getHotBook" resultType="com.group2.dingmall.controller.mall.vo.CarouselInfoVO">
        select * from book
        mallOrder by score desc
    </select>
</mapper>